# Supabase
NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-supabase-anon-key
SUPABASE_SECRET_KEY=your-supabase-service-role-key
SUPABASE_PROJECT_ID=your-supabase-project-id

# Database
DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:54322/postgres
DB_SCHEMA=app

# Cron
CRON_SECRET=your-cron-secret
