.container {
  width: 100%;
  height: calc(100vh - var(--space-8));
  display: flex;
  align-items: center;
  justify-content: center;
}

.authContent {
  padding-bottom: 100px;
}

.loginForm {
  width: 400px;
  padding: 2rem;
  border: 1px solid var(--gray-4);
  border-radius: var(--radius-3);
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fullHeight {
  height: 100vh;
}

.passwordToggle {
  padding: 0 8px;
}

.fullWidth {
  width: 100%;
}
